name: Test Pull Request

on:
  pull_request:
    branches:
    - main
    - v*

jobs:
  unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v3
      with:
        go-version: 'stable'

    - name: Checkout
      uses: actions/checkout@v4

    - name: Run Unit Tests
      run: go test -v -count=1 ./...

  upload:
    name: Upload Workflow Event Payload
    runs-on: ubuntu-latest
    steps:
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: event-payload
        path: ${{ github.event_path }}
